 * {
   box-sizing: border-box;

 }

 #btn {

   position: fixed;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;


 }

 .blur {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   /* background-color: rgb(189, 189, 189, 0.9); */
   width: 100%;

 }
 .firstImg{
  background-image: url('https://themewagon.github.io/chefs-kitchen-nextjs-free/images/hero/banner-image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
 }
#sndImg{
  background-image: url('https://themewagon.github.io/chefs-kitchen-nextjs-free/images/cook/cook.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
 #login2 {
   position: fixed;
   /* position: relative; */
   top: 58%;

   left: 50%;
   width: 500px;

   /* background-color:transparent; */
   border-radius: 10px;

   /* border: 2px solid red; */
   transform: translate(-50%, -50%);
 }